body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.first-container {
    display: flex;
    width: 90%;
    background-image:url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 100px;
}
.half-width {
    width: 50%;
    padding-left: 5%;
    
}
.half-width img {
    width: 85%;
    margin-top: 20px;
    margin-left: 25px;
}
h1 {
    font-size: 40px;
}
h3 {
    font-size: 20px;
    color: orange;
}
.orange {
    color: orange;
}

.button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: bold;
}

.second-container {
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 100px;
}
.second-width {
    width: 50%;
    padding-left: 5%;
}
.second-width img {
    width: 80%;

}

.experiences-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.area {
    display: flex;
}
.experiences {
    width: 45%;
    padding-left: 20px;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
}

#exp1 {
    border-left: 7px solid;
    border-image: linear-gradient(orange, tomato);
    border-image-slice: 1;
}
#exp2 {
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

footer p {
    text-align: center;
    margin: 50px 0;
}